persistencia/src/test/resources/datasets/xml/dataset.dtd

<?xml version="1.0" encoding="UTF-8"?>
        <!ELEMENT dataset (usuario*, votacion*,partidosVotos*)>
        <!ELEMENT votacion EMPTY>
        <!ELEMENT usuario EMPTY>
        <!ELEMENT partidosVotos EMPTY>
        <!ATTLIST usuario
                nombre CDATA #IMPLIED
                clave CDATA #IMPLIED
                >
        <!ATTLIST votacion
                idVotacion CDATA #IMPLIED
                nombreVotacion CDATA #IMPLIED
                usuario_nombre CDATA #IMPLIED
                >
        <!ATTLIST partidosVotos
                idPartidosVotos CDATA #IMPLIED
                votos CDATA #IMPLIED
                partido CDATA #IMPLIED
                >
